 body{
	background: linear-gradient(#5c58a2, #d9a6b2);

}

.conteudoprincipal{
	width: 940px;
	height: auto;
	background: ghostwhite;	
	margin: 100px auto;
	box-shadow: 10px 5px 10px 5px;
	
	
}

/*cabeçalho*/

.fundocabecalho{
	background-color: #363636;
	padding: 20px;
}

.nomecurriculo{
	font-size: 35px;
	font-weight: bold;
	color:white;
	padding: 20px 0 10px 20px;
	
	
}

.profissao{
	color: white;
	padding: 10px 0 20px 20px;
}


/*caixa maior (esquerda)*/

.caixaesquerda{
	width: 636.66px;
	height: auto;
	padding: 20px;
	display: inline-block;
	box-sizing: border-box;

}

.objetivo{
	margin-top:20px;
	font-size: 17px;

	
}

.caixaesquerda strong{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px 0 20px 0;
}



/* experiencia*/

.lista li{
	display: inline-block;
	padding-right: 10px;
	font-weight: bold;
	padding-top: 20px;

}

.lista p, .lista3 p,.lista5 p {
	position: relative;
	top: 20px;
	left: 100px;
	font-weight: bold;

}

.lista2 li{
	position: relative;
	top: 20px;
	left: 100px;
	margin-top: 10px;

}

.lista3 li{
	display: inline-block;
	padding-right: 10px;
	font-weight: bold;
	padding-top: 40px;
}

.lista4 li{
	font-weight: bold;
	padding: 10px 0 5px 0; 
	display: inline-block;
}

.lista4 p{
	display: inline-block;
	padding: 10px 0 15px 0;

	}
	.lista5 li {
		padding:10px 0 10px 0;
	}
	

/*caixa lateral (esquerda)*/

.caixadireita{
	width: 299.3px;
	height: 1140px;
	background: #d0d0d0;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding:20px 20px 20px 20px;
}


/*dados pessoais */
.caixadireita p{
	font-size: 22px;
	font-weight: bold;
	padding: 10px 0 10px 0;

}

.caixadireita strong {
	font-weight: bold;
	
}

.caixadireita li{
	padding: 10px 0 10px 0;
}

